@mixin global_btn{
  text-align: center;
  padding:.75em 1em;
  display: inline-block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  @include opacity(1);
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    margin-top:0;
  }
  line-height: 1em;
  @include box-sizing(border-box);    
  // Bug in FF that adds another inner border
  &::-moz-focus-inner {
    border: 0;
  }
}