@mixin stdlink{
  cursor: pointer;
  color: #0099cc;
  &:hover{color: #006699;}
  &:active{color: #555;}
}
@mixin nolink($color: #333){
  cursor: default;
  color: $color;
  &:hover{color: $color;}
  &:active{color: $color;}
}