label {
  font-weight: bold;
  float: left;
  margin-right: 4px;
}

input, textarea {
  display: block;
  clear: left;
}

.field_with_errors, .formError {
  color: #a00;
}

.field_with_errors input, .field_with_errors textarea {
   background-color: #fee;
 }
